<header>
  <div class="container header-container">
    <a href="index.html" class="logo">AmirH.</a>

    <nav id="nav-menu" class="nav-menu">
      <ul>
        <li><a href="index.html" class="nav-link active">Home</a></li>
        <li><a href="about.html" class="nav-link">About</a></li>
        <li><a href="projects.html" class="nav-link">Projects</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <button id="theme-toggle" aria-label="Toggle dark mode" class="btn theme-toggle">🌙</button>

    <button id="mobile-menu-toggle" aria-label="Toggle navigation menu" class="btn mobile-menu-toggle">
      ☰
    </button>
  </div>
</header>

